.lm_content {
	display: flex;
    flex-direction: column;
}
.vilog-log {
	width:100%;
	flex: 0.1 0 auto;
	min-height: 20px;
	margin: 0;
	padding: 0;
}
.vilog-player {
	width:100%;
	border: none;
	display: flex;
    flex-direction: column;
	flex: 1 1 auto
}
.vilog-player .vi-content {
	flex: 1 1 0;
	overflow: auto;
	display: flex;
    justify-content: center;
    align-items: center;
}
.vilog-player .vi-foot {
	flex: none;
	display: flex;
}
.lm_content:focus {
	outline:0
}
.gutter-vertical {
	border-top: solid 1px #F1F1F1;
	border-bottom: solid 1px #F1F1F1;
	background-color: #FAFAFA;
	z-index:1;
	cursor:ns-resize;
}
.gutter-horizontal {
	border-right: solid 1px #F1F1F1;
	border-left: solid 1px #F1F1F1;
	background-color: #FAFAFA;
	z-index:1;
	cursor:es-resize;
}